[project]
name = "app"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "flask>=3.1.2",
    "geopandas>=1.1.2",
    "notebook>=7.5.1",
    "psycopg2-binary>=2.9.11",
    "sqlalchemy>=2.0.45",
]
